.main-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.main-main {
  width: 100%;
  max-width: 1280px;
  height: 4115px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  margin: 0 auto;
}
 
.main-group1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 4135px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.main-fondos {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 4135px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.main-rectangle1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 4115px;
  position: absolute;
}
 
.main-rectangle321 {
  top: 1110px;
  left: 0px;
  width: 100%;
  height: 805px;
  position: absolute;
}
 
.main-rectangle308 {
  top: 90px;
  left: 0px;
  width: 100%;
  height: 674px;
  position: absolute;
}
 
.main-rectangle322 {
  top: 1694px;
  left: 0px;
  width: 100%;
  height: 785px;
  position: absolute;
}
 
.main-rectangle323 {
  top: 2373px;
  left: 0px;
  width: 100%;
  height: 677px;
  position: absolute;
}
 
.main-rectangle324 {
  top: 2926.5px;
  left: 0px;
  width: 100%;
  height: 661px;
  position: absolute;
}
 
.main-rectangle325 {
  left: 0px;
  width: 100%;
  bottom: 11px;
  height: 645px;
  position: absolute;
}
 
.main-rectangle2 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 90px;
  position: absolute;
}
 
.main-rectangle311 {
  top: 646px;
  left: 55%;
  transform: translateX(-50%);
  width: 1049px;
  height: 544px;
  position: absolute;
}
 
.main-rectangle326 {
  top: 188px;
  left: 47%;
  transform: translateX(-50%);
  width: 1061px;
  height: 410px;
  position: absolute;
}
 
.main-rectangle313 {
  top: 1251px;
  left: 47%;
  transform: translateX(-50%);
  width: 1049px;
  height: 548px;
  position: absolute;
}
 
.main-rectangle316 {
  top: 1860px;
  left: 55%;
  transform: translateX(-50%);
  width: 1049px;
  height: 521px;
  position: absolute;
}
 
.main-rectangle318 {
  top: 2435px;
  left: 47%;
  transform: translateX(-50%);
  width: 1040px;
  height: 540px;
  position: absolute;
}
 
.main-rectangle319 {
  top: 3016px;
  left: 55%;
  transform: translateX(-50%);
  width: 1040px;
  height: 517px;
  position: absolute;
}
 
.main-rectangle320 {
  top: 3594px;
  left: 47%;
  transform: translateX(-50%);
  width: 1040px;
  height: 471px;
  position: absolute;
}
 
.main-rutavirtual {
  top: 187px;
  left: 53%;
  transform: translateX(-50%);
  width: 1106px;
  max-width: 90%;
  height: 359px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.main-rutadelcacao1 {
  top: 0px;
  left: 451px;
  width: 655px;
  height: 359px;
  position: absolute;
}
 
.main-vector2 {
  top: 147.88818359375px;
  left: 0px;
  width: 141px;
  height: 12px;
  position: absolute;
}
 
.main-text10 {
  top: 65px;
  color: rgba(23, 24, 31, 1);
  width: 421px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: SemiBold;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-divider1 {
  top: 189.87982177734375px;
  left: 0px;
  width: 400px;
  height: 1px;
  position: absolute;
}
 
.main-text11 {
  top: 215.44573974609375px;
  color: rgba(79, 82, 85, 1);
  width: 400px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-oculus {
  top: 754px;
  left: 49%;
  transform: translateX(-50%);
  width: 1091px;
  max-width: 90%;
  height: 324px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.main-divider2 {
  top: 132.5015869140625px;
  left: 441px;
  width: 650px;
  height: 1px;
  position: absolute;
}
 
.main-rectangle3121 {
  top: 256px;
  left: 782px;
  width: 309px;
  height: 42px;
  position: absolute;
  border-radius: 10px;
}
 
.main-vector41 {
  top: 90px;
  left: 666px;
  width: 425px;
  height: 12px;
  position: absolute;
}
 
.main-text12 {
  top: 266px;
  left: 816px;
  color: rgba(255, 255, 255, 1);
  width: 257px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: SemiBold;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-text13 {
  top: 152px;
  left: 427px;
  color: rgba(79, 82, 85, 1);
  width: 664px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: right;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-text14 {
  left: 441px;
  color: rgba(23, 24, 31, 1);
  width: 650px;
  height: auto;
  position: absolute;
  font-size: 43.11954116821289px;
  font-style: SemiBold;
  text-align: right;
  font-family: Source Code Pro;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-image4 {
  top: 0px;
  left: 0px;
  width: 367px;
  height: 324px;
  position: absolute;
}
 
.main-videojuego {
  top: 1939px;
  left: 50%;
  transform: translateX(-50%);
  width: 1119px;
  max-width: 90%;
  height: 364px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.main-divider3 {
  top: 122.50146484375px;
  left: 451px;
  width: 636px;
  height: 1px;
  position: absolute;
}
 
.main-rectangle3122 {
  top: 210px;
  left: 802px;
  width: 275px;
  height: 42px;
  position: absolute;
  border-radius: 10px;
}
 
.main-vector42 {
  top: 93px;
  left: 548px;
  width: 534px;
  height: 12px;
  position: absolute;
}
 
.main-text15 {
  top: 138px;
  left: 441px;
  color: rgba(79, 82, 85, 1);
  width: 636px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: right;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-text16 {
  top: 54px;
  left: 564px;
  color: rgba(23, 24, 31, 1);
  width: 555px;
  height: auto;
  position: absolute;
  font-size: 43.11954116821289px;
  font-style: SemiBold;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-text17 {
  top: 220px;
  left: 858px;
  color: rgba(255, 255, 255, 1);
  width: 187px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: SemiBold;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-image1 {
  top: 0px;
  left: 0px;
  width: 412px;
  height: 364px;
  position: absolute;
}
 
.main-suministros {
  top: 3087px;
  left: 49%;
  transform: translateX(-50%);
  width: 1112px;
  max-width: 90%;
  height: 342px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.main-divider4 {
  top: 144.50146484375px;
  left: 442px;
  width: 636px;
  height: 1px;
  position: absolute;
}
 
.main-rectangle3123 {
  top: 264px;
  left: 691px;
  width: 390px;
  height: 42px;
  position: absolute;
  border-radius: 10px;
}
 
.main-vector43 {
  top: 100px;
  left: 518px;
  width: 569px;
  height: 12px;
  position: absolute;
}
 
.main-text18 {
  top: 165px;
  left: 442.00048828125px;
  color: rgba(79, 82, 85, 1);
  width: 636px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Medium;
  text-align: right;
  font-family: Source Code Pro;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-text19 {
  top: 62px;
  left: 523px;
  color: rgba(23, 24, 31, 1);
  width: 555px;
  height: auto;
  position: absolute;
  font-size: 43.11954116821289px;
  font-style: SemiBold;
  text-align: right;
  font-family: Source Code Pro;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-text20 {
  top: 273px;
  left: 726px;
  color: rgba(255, 255, 255, 1);
  width: 386px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Medium;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-image2 {
  top: 0px;
  left: 0px;
  width: 388px;
  height: 342px;
  position: absolute;
}
 
.main-historias {
  top: 1321px;
  left: 53%;
  transform: translateX(-50%);
  width: 1106px;
  max-width: 90%;
  height: 363px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.main-vector51 {
  top: 115px;
  left: 0px;
  width: 446px;
  height: 12px;
  position: absolute;
}
 
.main-divider5 {
  top: 156.5015869140625px;
  left: 0px;
  width: 636px;
  height: 1px;
  position: absolute;
}
 
.main-rectangle3141 {
  top: 306px;
  left: 0px;
  width: 378px;
  height: 42px;
  position: absolute;
  border-radius: 10px;
}
 
.main-text21 {
  top: 182px;
  left: 0.00048828125px;
  color: rgba(79, 82, 85, 1);
  width: 636px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-text22 {
  top: 77px;
  color: rgba(23, 24, 31, 1);
  width: 555px;
  height: auto;
  position: absolute;
  font-size: 43.11954116821289px;
  font-style: SemiBold;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-text23 {
  top: 316px;
  left: 54px;
  color: rgba(255, 255, 255, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: SemiBold;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-image3 {
  top: 0px;
  left: 694px;
  width: 412px;
  height: 363px;
  position: absolute;
}
 
.main-transformacion {
  top: 2513px;
  left:53%;
  transform: translateX(-50%);
  width: 1112px;
  max-width: 90%;
  height: 380px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.main-vector52 {
  top: 100px;
  left: 6px;
  width: 387px;
  height: 12px;
  position: absolute;
}
 
.main-divider6 {
  top: 136.49996948242188px;
  left: 4.000025272369385px;
  width: 636px;
  height: 1px;
  position: absolute;
}
 
.main-rectangle3142 {
  top: 256px;
  left: 0px;
  width: 302px;
  height: 38px;
  position: absolute;
  border-radius: 10px;
}
 
.main-text24 {
  top: 151px;
  color: rgba(79, 82, 85, 1);
  width: 636px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-text25 {
  top: 64px;
  left: 6px;
  color: rgba(23, 24, 31, 1);
  width: 371px;
  height: auto;
  position: absolute;
  font-size: 43.11954116821289px;
  font-style: SemiBold;
  text-align: right;
  font-family: Source Code Pro;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-text26 {
  top: 265px;
  left: 49px;
  color: rgba(255, 255, 255, 1);
  width: 226px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: SemiBold;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-image5 {
  top: 0px;
  left: 681px;
  width: 431px;
  height: 380px;
  position: absolute;
}
 
.main-ciencia {
  top: 3640px;
  left: 50%;
  transform: translateX(-50%);
  width: 1167px;
  max-width: 90%;
  height: 380px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.main-vector53 {
  top: 90px;
  left: 61px;
  width: 199px;
  height: 12px;
  position: absolute;
}
 
.main-divider7 {
  top: 129.50146484375px;
  left: 61px;
  width: 636px;
  height: 1px;
  position: absolute;
}
 
.main-rectangle3143 {
  top: 249px;
  left: 61px;
  width: 302px;
  height: 38px;
  position: absolute;
  border-radius: 10px;
}
 
.main-text27 {
  top: 155px;
  left: 61.00048828125px;
  color: rgba(79, 82, 85, 1);
  width: 636px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-text28 {
  top: 54px;
  color: rgba(23, 24, 31, 1);
  width: 247px;
  height: auto;
  position: absolute;
  font-size: 43.11954116821289px;
  font-style: SemiBold;
  text-align: right;
  font-family: Source Code Pro;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-text29 {
  top: 258px;
  left: 119px;
  color: rgba(255, 255, 255, 1);
  width: 202px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Medium;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-image6 {
  top: 0px;
  left: 736px;
  width: 431px;
  height: 380px;
  position: absolute;
}
 
.main-header {
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 1208px;
  max-width: 90%;
  height: 59px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.main-text30 {
  top: 11px;
  left: 910px;
  color: rgba(95, 31, 21, 1);
  width: 236px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: center;
  font-family: FONTSPRING DEMO - TT Fors;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.main-ruvicacolorpng1 {
  top: 0px;
  left: 62px;
  width: 202px;
  height: 59px;
  position: absolute;
}
 
.main-bxsuparrow {
  right: 17px;
  width: 24px;
  bottom: 14px;
  height: 24px;
  position: absolute;
}
 
.main-tablerhomefilled {
  top: 10px;
  left: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
}
 
.main-link {
  display: contents;
}
 
.main-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.main-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.main-text31 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}