.ciencia-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.ciencia-ciencia {
  width: 100%;
  height: 1446px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  max-width: 1281px;
  margin: 0 auto;
}
 
.ciencia-fondos {
  top: 0px;
  left: 0px;
  width: 1281px;
  height: 1857px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.ciencia-rectangle1 {
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 1857px;
  position: absolute;
}
 
.ciencia-rectangle2 {
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 90px;
  position: absolute;
}
 
.ciencia-rectangle327 {
  top: 136px;
  left: 530px;
  width: 750px;
  height: 597px;
  position: absolute;
}
 
.ciencia-rectangle328 {
  top: 798px;
  left: 1px;
  width: 750px;
  height: 612px;
  position: absolute;
}
 
.ciencia-rectangle311 {
  top: 161px;
  left: 0px;
  width: 1098px;
  height: 552px;
  position: absolute;
}
 
.ciencia-rectangle313 {
  top: 830px;
  left: 183px;
  width: 1098px;
  height: 548px;
  position: absolute;
}
 
.ciencia-oculus {
  top: 268px;
  left: 64px;
  width: 1153px;
  height: 380px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.ciencia-divider1 {
  top: 120.5015869140625px;
  left: 0px;
  width: 636px;
  height: 1px;
  position: absolute;
}
 
.ciencia-text1 {
  top: 146px;
  color: rgba(79, 82, 85, 1);
  width: 687px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: justify;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.ciencia-text2 {
  top: 15px;
  left: 0.00048828125px;
  color: rgba(23, 24, 31, 1);
  width: 555px;
  height: auto;
  position: absolute;
  font-size: 43.11954116821289px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.ciencia-image {
  top: 0px;
  left: 722px;
  width: 431px;
  height: 380px;
  position: absolute;
}
 
.ciencia-historias {
  top: 918px;
  left: 568px;
  width: 649.0004272460938px;
  height: 279px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.ciencia-divider2 {
  top: 80.5015869140625px;
  left: 13px;
  width: 636px;
  height: 1px;
  position: absolute;
}
 
.ciencia-text3 {
  top: 106px;
  color: rgba(79, 82, 85, 1);
  width: 649px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: justify;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.ciencia-text4 {
  left: 67px;
  color: rgba(23, 24, 31, 1);
  width: 555px;
  height: auto;
  position: absolute;
  font-size: 43.11954116821289px;
  font-style: SemiBold;
  text-align: right;
  font-family: Source Code Pro;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.ciencia-image11 {
  top: 977px;
  left: 50px;
  width: 490px;
  height: 284px;
  position: absolute;
}
 
.ciencia-image9 {
  top: 1047px;
  left: 209px;
  width: 148px;
  height: 148px;
  position: absolute;
}
 
.ciencia-header {
  top: 20px;
  left: 38px;
  width: 1208px;
  height: 59px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.ciencia-text5 {
  top: 11px;
  left: 972px;
  color: rgba(95, 31, 21, 1);
  width: 236px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: center;
  font-family: FONTSPRING DEMO - TT Fors;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.ciencia-ruvicacolorpng1 {
  top: 0px;
  left: 62px;
  width: 202px;
  height: 59px;
  position: absolute;
}
 
.ciencia-bxsuparrow {
  top: 46px;
  left: 1192px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.ciencia-tablerhomefilled {
  top: 10px;
  left: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
}
 
.ciencia-link {
  display: contents;
}
 
.ciencia-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.ciencia-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.ciencia-text6 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
