.transformacion-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.transformacion-transformacion {
  /* constrain width and center the main stage */
  width: 1284px;
  max-width: 100%;
  height: 1857px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  margin: 0 auto;
}
 
.transformacion-fondos {
  top: 0px;
  left: 0px;
  /* match the visible stage width so absolute children align inside centered container */
  width: 1284px;
  height: 1857px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.transformacion-rectangle1 {
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 1857px;
  position: absolute;
}
 
.transformacion-rectangle327 {
  top: 136px;
  left: 530px;
  width: 750px;
  height: 518px;
  position: absolute;
}
 
.transformacion-rectangle328 {
  top: 676px;
  left: 0px;
  width: 703px;
  height: 591px;
  position: absolute;
}
 
.transformacion-rectangle329 {
  top: 1289px;
  left: 581px;
  width: 703px;
  height: 516px;
  position: absolute;
}
 
.transformacion-rectangle2 {
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 90px;
  position: absolute;
}
 
.transformacion-rectangle311 {
  top: 161px;
  left: 0px;
  width: 1098px;
  height: 471px;
  position: absolute;
}
 
.transformacion-rectangle313 {
  top: 699px;
  left: 182px;
  width: 1098px;
  height: 548px;
  position: absolute;
}
 
.transformacion-rectangle316 {
  top: 1308px;
  left: 0px;
  width: 1098px;
  height: 478px;
  position: absolute;
}
 
.transformacion-oculus {
  top: 202px;
  left: 64px;
  width: 1144px;
  height: 380px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.transformacion-divider1 {
  top: 200.5015869140625px;
  left: 0px;
  width: 636px;
  height: 1px;
  position: absolute;
}
 
.transformacion-text1 {
  top: 226px;
  left: 0.00048828125px;
  color: rgba(79, 82, 85, 1);
  width: 636px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.transformacion-text2 {
  top: 68px;
  left: 0.00048828125px;
  color: rgba(23, 24, 31, 1);
  width: 555px;
  height: auto;
  position: absolute;
  font-size: 43.11954116821289px;
  font-style: SemiBold;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.transformacion-image1 {
  top: 0px;
  left: 713px;
  width: 431px;
  height: 380px;
  position: absolute;
}
 
.transformacion-videojuego {
  top: 1349px;
  left: 78px;
  width: 1134px;
  height: 380px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.transformacion-divider2 {
  top: 164.50146484375px;
  left: 0px;
  width: 636px;
  height: 1px;
  position: absolute;
}
 
.transformacion-text3 {
  top: 190px;
  left: 0.00048828125px;
  color: rgba(79, 82, 85, 1);
  width: 636px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.transformacion-text4 {
  top: 59px;
  left: 0.00048828125px;
  color: rgba(23, 24, 31, 1);
  width: 555px;
  height: auto;
  position: absolute;
  font-size: 43.11954116821289px;
  font-style: SemiBold;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.transformacion-image2 {
  top: 0px;
  left: 703px;
  width: 431px;
  height: 380px;
  position: absolute;
}
 
.transformacion-historias {
  top: 781px;
  left: 72px;
  width: 1145.00048828125px;
  height: 380px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.transformacion-divider3 {
  top: 147.5015869140625px;
  left: 509px;
  width: 636px;
  height: 1px;
  position: absolute;
}
 
.transformacion-text5 {
  top: 173px;
  left: 509.00048828125px;
  color: rgba(79, 82, 85, 1);
  width: 636px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: right;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.transformacion-text6 {
  top: 49px;
  left: 563px;
  color: rgba(23, 24, 31, 1);
  width: 555px;
  height: auto;
  position: absolute;
  font-size: 43.11954116821289px;
  font-style: SemiBold;
  text-align: right;
  font-family: Source Code Pro;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.transformacion-image3 {
  top: 0px;
  left: 0px;
  width: 431px;
  height: 380px;
  position: absolute;
}
 
.transformacion-header {
  top: 20px;
  left: 38px;
  width: 1208px;
  height: 59px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.transformacion-text7 {
  top: 11px;
  left: 972px;
  color: rgba(95, 31, 21, 1);
  width: 236px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: center;
  font-family: FONTSPRING DEMO - TT Fors;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.transformacion-ruvicacolorpng1 {
  top: 0px;
  left: 62px;
  width: 202px;
  height: 59px;
  position: absolute;
}
 
.transformacion-bxsuparrow {
  top: 46px;
  left: 1192px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.transformacion-tablerhomefilled {
  top: 10px;
  left: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
}
 
.transformacion-link {
  display: contents;
}
 
.transformacion-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.transformacion-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.transformacion-text8 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
